nav.main-navigation
  a.logo(href="#")
    img(src="assets/icons/logo.svg" alt="Site logo")
  ul.menu
    li.menu__item
      a.menu__link(href="#") Home
    li.menu__item
      a.menu__link(href="#") Shop
    li.menu__item
      a.menu__link(href="#") About
    li.menu__item
      a.menu__link(href="#") Contact

